.idea/
.DS_Store
_build/
.python-version
node_modules/
.babelrc
yarn.lock
package.json
.vscode/
1.py
1.js
.sync/*

.me_configs.data

.z_sync_configs.data

sync_changes.log

sync_hook.script

**/.Archive
